<main class="booklist-main">
    <div class="title-main-container">
        <h1 class="title-main-content">Bienvenue dans la <br>Bibliothèque de Stephen King</h1>
    </div>

    <h2 class="title-booklist">Découvrez ses ouvrages</h2>
    <section class="booklist-container">

        <ul class="booklist">
            @for (eachBook of bookList; track eachBook.key) {
            <li class="book-card">
                <h3 class="title-of-book">{{eachBook.title}} </h3>

                @if (eachBook.covers && eachBook.covers.length > 0 && eachBook.covers[0] != -1 ) {

                <div class="cover-container"> <img class="cover-img"
                        src="{{'https://covers.openlibrary.org/b/id/' + eachBook.covers[0] + '-M.jpg'}}" /></div>
                } @else {

                <div class="cover-container"> <img class="cover-img" src="../../../assets/placeholder-book.jpg" /></div>
                }
                <div class="subjects-container">

                    @if (eachBook.subjects){
                    <p class="subjects-content">Sujet :{{ eachBook.subjects.slice(0,5)}}</p>

                    }
                </div>
                <div class="description-container">
                    @if(eachBook.description && eachBook.description.value){
                    <p class="description-content">Description : {{limitDescription(eachBook.description.value, 20)}}
                    </p>
                    }@else {
                    <p>Description : Aucune description disponible pour le moment...</p>
                    }
                </div>
                <a class="button-details" [routerLink]="'/bookDetails' + eachBook.key">Détails du livre</a>



            </li>
            }
        </ul>
    </section>
</main>