main {
    margin: 5em 1em;
    background-color:  #130101;
    box-shadow: 0 0 10px rgba(105, 3, 3, 0.901);
}
.booklist-container{
  display: flex;
  width: 100%; 
       
}
.booklist{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:3em;
    justify-content: center;
    
    
    
    text-align: center;
    
    
}
.book-card {
  
    width: calc(25% - 10px); /* Définit la largeur de chaque carte pour occuper la moitié de la largeur de son conteneur avec un espacement entre les cartes */
    margin-bottom: 20px; /* Ajoute un espacement en bas de chaque carte */
    background-color: #ddd8d8; /* Couleur de fond de la carte */
    border-radius: 8px; /* Ajoute des coins arrondis à la carte */
    box-shadow: 0 0 10px rgba(105, 3, 3, 0.901); /* Ajoute une ombre douce à la carte */
    list-style: none;
    align-items: center;
    padding: 1em;
    transform: .2s;
    
}

.book-card:hover{
    box-shadow: 0 0 10px rgba(239, 3, 3, 0.901);
    transform: scale(1.1);


}


.book-card img{
    width: 200px; 
    box-shadow: 0 0 10px rgba(50, 50, 50, 0.422);
}
.subjects-container{
text-align: left;
font-size: 16px;
}


h1{
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 100px;
    
    
}
.title-main-content{
    display: flex;
    justify-content: center;
    
    
}

.title-booklist{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 45px;
}
.button-details{
    text-decoration: none;
    background-color: #B07E09;
    color: black;
    padding: 0.8em 0.5em;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 10px rgba(52, 48, 48, 0.426);
    
}
.button-details:hover{
    background-color:  #690303e6; /* Ajoute une ombre douce à la carte */
    color: white;
    box-shadow: 0 0 10px rgba(105, 3, 3, 0.901);
    

}
.title-of-book{
    font-family: "Protest Revolution";
    font-size: 28px;

}.description-container{
    display: flex;
    text-align: justify;
    font-size: 18px;
}

@media screen and (max-width: 768px){
    main{
        margin: 0;
        padding: 1;
    }
    .book-card{
        display: flex;
        flex-direction: column;
        width: auto;
    }

    h1{
        font-size: 40px;
    }
    .title-booklist{
        font-size: 25px;
    }
    .booklist{
        display: flex;
        justify-content: center;
        align-items: center;
        
        margin: 2;
        padding: 0;
    }
    .book-card{
        width: 80%;
    }
    .book-card:hover{
        box-shadow: 0 0 10px rgba(239, 3, 3, 0.901);
        transform: none;
    
    
    }
}