
.book-detail-page{
    width: 100%;
    height: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.button-back{
   
    color: red;
    border: 5px;
    border-color: red;
    

}

.book-detail-container{
    
    margin: 5em;
    background-color: rgba(255, 255, 255, 0.06);
    border-radius: 10px;
}

.book-detail-content {
 display: flex;
 flex-direction: row;
 align-items: center;
 
 
}
.book-description-subject {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: justify;
    padding: 5em;
    overflow-wrap: break-word;
}
.book-description-subject h2{
    color: red;
    font-size: 16px;
    }
.book-detail-content img {
    display: flex;
    min-width: 50%;
    max-width: 250px;
   
    margin: 1em;
    padding: 0;
}
.img-content{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    
}
.subject-title{
    color:red;
}
.subject-detail{
  
    color:white;
}
.description-detail{
    color:white;
}

@media screen and (max-width: 768px){
.book-detail-container{
    margin: 0;
    padding: 0;
}
.description-detail{
    width: 100%;
}
.book-detail-content{
    flex-direction: column-reverse;
    margin: 2em;
}
.book-description-subject{
    padding: 0;
}
}
