<section class="book-detail-page">
  <a class="button-back" href="https://bibliotheque-stephen-king.netlify.app">Revenir à la liste des livres</a>
  @if(bookItem) {
    <div class="book-detail-container">
    <div class="book-detail-content">
      <div class="book-description-subject">

        @if(bookItem.description.value){
          <h2>Description de l'ouvrage :</h2>
          <p class="description-detail"> {{bookItem.description.value}}</p>
        } @else if (bookItem.description){
          <h2>Description de l'ouvrage :</h2>
        <p class="description-detail">{{bookItem.description}}</p>
        }



        @if(bookItem.subject_places){
        <h2 class="subject-title">Sujet de l'ouvrage :</h2>
        <p class="subject-detail"> {{bookItem.subject_places}}</p>
        }@else {
        <p>Pas de sujet d'ouvrage renseigné</p>
        }

      </div>

      <div class="img-content">

        @if (bookItem.covers && bookItem.covers.length > 0) {

        <img src="{{'https://covers.openlibrary.org/b/id/' + bookItem.covers[0] + '-M.jpg'}}" />
        } @else {

        <img class="placeholder" src="../../../assets/placeholder-book.jpg" />
        }

      </div>
    </div>
    </div>
  }
</section>